# --------------------------------------------
# Python
# --------------------------------------------

# Byte-compiled / optimized / DLL files
__pycache__/
Enunciado.pdf
sprites/
mapas/
sounds/
*.py[cod]
*$py.class

*.idea
*.DS_STORE